<footer id="footer">

  <section class="section subfooter">
    <div class="container">
      <div class="row element-top-10 element-bottom-10 footer-columns-2">
        <div class="col-sm-6">
          <div class="sidebar-widget widget_text">
            <div class="textwidget">
              &copy; Plastikaweb 2015
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="sidebar-widget widget_social">
            <ul class="unstyled inline social-icons social-simple social-normal">

              <li>
                <a target="_blank" data-iconcolor="#3b5998"
                   href="https://www.facebook.com/plastikaweb">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a target="_blank" data-iconcolor="#00acee"
                   href="https://www.twitter.com/plastikaweb">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a target="_blank" data-iconcolor="#5FB0D5"
                   href="https://es.linkedin.com/in/plastikaweb">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

              <li>
                <a target="_blank" data-iconcolor="#E45135" href="https://plus.google.com/+Plastikaweb">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>

              <li>
                <a target="_blank" data-iconcolor="#4183C4" href="https:/github.com/plastikaweb">
                  <i class="fa fa-github"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
