{% extends "layouts/corporate.html" %}

{% set title = "Plastikaweb" %}
{% set activeMenu = "Home" %}


{% block content %}
<article>

  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque"
           data-label="">
    <div class="background-media"
         style="background-image:url('assets/images/home-bg.jpg');background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:center 0%;"></div>

    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(86,154,167,0.7);"></div>

    <div class="container container-vertical-default">
      <div class="row vertical-default">
        <div class="col-md-12  text-default small-screen-default"><h1
          class="text-center  element-top-160 element-bottom-20 text-light os-animation bigger default animated fadeIn"
          data-os-animation="fadeIn" data-os-animation-delay="0.1s"
          style="-webkit-animation-delay: 0.1s; animation-delay: 0.1s;">
          Hello, this is Carlos Matheu</h1>

          <div
            class="divider-border  divider-border-center element-top-20 element-bottom-20 os-animation animated fadeIn"
            data-os-animation="fadeIn" data-os-animation-delay="0.2s"
            style="-webkit-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="divider-border-inner" style="background:rgba(255, 255, 255, 0.87); "></div>
          </div>
          <div class="row ">
            <div class="col-md-2  text-default small-screen-default"></div>
            <div class="col-md-8  text-default small-screen-default"><h2
              class="text-center  element-top-0 element-bottom-40 text-light os-animation normal light animated fadeIn"
              data-os-animation="fadeIn" data-os-animation-delay="0.3s"
              style="-webkit-animation-delay: 0.3s; animation-delay: 0.3s;">
              I am a creative web developer specialised in Frontend, specially javascript, CSS3 and HTML5.</h2></div>
            <div class="col-md-2  text-default small-screen-default"></div>
          </div>


        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn"
              data-os-animation-delay="0s">
            Languages and skills
          </h1>

          <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
               data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
            <div class="divider-border-inner" style="width:60px;">
            </div>
          </div>



          <skills-panel class="row">

          </skills-panel>



        </div>
      </div>
    </div>
  </section>

  <!-- some projects -->

  <section class="section">

    <div class="container" ng-controller="Projects as pj">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center element-top-70 os-animation big"
              data-os-animation="fadeIn" data-os-animation-delay="0s">
            My latest work
          </h1>

          <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
               data-os-animation="fadeIn" data-os-animation-delay="0.1s"
               style="height:3px;">
            <div class="divider-border-inner" style="width:60px;">
            </div>
          </div>

          <p class="lead text-center center element-bottom-40" data-os-animation="none" data-os-animation-delay="0s">
            I put all my 10 years of development experience into every project.<br>
            Take a look at some of my latest work.</p>

          <div class="portfolio-container element-bottom-60">
            <div class="row">
              <div class="col-md-12">
                <div class="portfolio-header clearfix">
                  <div class="portfolio-filters pull-right">
                  </div>
                </div>
              </div>
            </div>

            <div class="portfolio masonry magnific-all isotope">
              <div
                class="masonry-item portfolio-item"
                isotope-item
                ng-repeat="project in pj.list  | orderBy:'-order' | limitTo:6 | filter: {active: true}"
                data-title="{$ project.name $}">
                <div
                  class="figure portfolio-os-animation image-filter-blur image-filter-onhover fade-in from-right text-center figcaption-middle normalwidth"
                  data-os-animation="bounceInDown"
                  data-os-animation-delay="0.7s">

                  <a class="figure-image magnific"
                     href="assets/images/projects/{$ project.slug $}/{$ project.slug $}-1.jpg"
                     target="_self">
                    <img alt="{$ project.name $}" class="normalwidth"
                         ng-src="assets/images/projects/{$ project.slug $}/{$ project.slug $}-1.jpg">

                    <div class="figure-overlay">
                      <div class="figure-overlay-container">
                        <div class="figure-caption">
                          <h3 class=
                                "figure-caption-title bordered bordered-small">
                            {$ project.name $}</h3>

                          <p class=
                               "figure-caption-description">
                            {$ project.participation $}
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn"
              data-os-animation-delay="0s">
            Our team
          </h1>

          <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation"
               data-os-animation="fadeIn" data-os-animation-delay="0.1s"
               style="height:3px;">
            <div class="divider-border-inner" style="width:60px;">
            </div>
          </div>

          <p class="lead text-center center element-bottom-40 os-animation"
             data-os-animation="fadeIn" data-os-animation-delay="0.2s">
            Time to meet our team of technology and business
            professionals.<br>
            Let us help your business reach it&#8217;s potential.</p>

          <div class="row staff-list-container list-container element-bottom-50">
            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation"
                 data-os-animation="fadeIn" data-os-animation-delay="0.1s">
              <div class="figure-image">
                <img alt="Brandon Reed" src=
                  "assets/images/corporate/team01-notinclude.jpg">

                <div class="figure-overlay">
                  <div class="figure-overlay-container">
                    <div class="figure-caption text-center">
                      <ul class="figure-overlay-icons social-icons social-simple">
                        <li>
                          <a href="#" target="_self">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#" target="_self">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#" target="_self">
                            <i class="fa fa-behance"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="figure-caption text-left">
                <h3 class="figure-caption-title">
                  <strong>Brandon Reed</strong>
                  <span>CEO</span>
                </h3>

                <p class="figure-caption-description">
                  Collaboratively administrate empowered markets
                  via plug-and-play networks. Dynamically
                  procrastinate users.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</article>


{% endblock %}
