/* ------ */
/* CHARTS */
/* ------ */
.chart {
  position: relative;
  text-align: center;
  left: 0 !important;
  margin-left: 0 !important;
  i, img{
    display: block;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
  }
  canvas{
    width: 100%;
    height: auto;
  }
  img{
    font-size: 7em;
  }
  input, span {
    display: none;
  }

}
.bottom-chart{
  min-height: 195px;
  > *{
    text-align: center;
  }
}
.wp-chart-wrap {
  display: inline-block;
}
