{% extends "layouts/corporate.html" %}

{% set title = "Lambda - Multi Purpose HTML Template" %}

{% block extracss %}
<!-- build:css assets/css/demo.min.css -->
<link rel="stylesheet" href="styles/demo.css">
<!-- endbuild -->
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<article>
    <section class="section lambda-hero text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
        <div class="background-media" style="background-image: url('assets/images/demo/banner.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;"></div>

        <div class="container container-vertical-default">
            <div class="row vertical-default">
                <div class="col-md-12 text-center small-screen-default">
                    <div class="figure element-top-60 element-bottom-20 lambda-hero-logo os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style=
                    "-webkit-animation-delay: 0.1s;">
                        <span class="figure-image">
                            <img alt="Lambda Logo" src="assets/images/demo/banner-logo.png">
                        </span>
                    </div>

                    <h1 class="text-default lambda-hero-h1 element-top-0 element-bottom-0 text-light os-animation normal default animated fadeIn" data-os-animation="fadeIn"
                    data-os-animation-delay="0.3s" style="-webkit-animation-delay: 0.3s;">Lambda, multipurpose HTML template</h1>

                    <h2 class="text-default lambda-hero-h2 element-top-0 element-bottom-0 text-light os-animation normal default animated fadeIn" data-os-animation="fadeIn"
                    data-os-animation-delay="0.6s" style="-webkit-animation-delay: 0.6s;">choose your <strong>demo</strong> below</h2>

                    <a href="#demos" class="scroll-to scroll-to-id  element-top-20 element-bottom-60 text-light os-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay="0.9s">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" data-label="" id="demos">
        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>

        <div class="container container-vertical-default">
            <div class="row vertical-default">
                <div class="col-md-12 text-default small-screen-default">
                    <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFF">
                        <div class="visible-xs" style="height:50px;"></div>

                        <div class="visible-sm" style="height:50px;"></div>

                        <div class="visible-md" style="height:50px;"></div>

                        <div class="visible-lg" style="height:50px;"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-default small-screen-default">
                            <figure class="lambda-demo os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="corporate-index.html" target="_blank"><img alt="corporate" src=
                                "assets/images/demo/lambda-corporate.png"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Corporate <small>full demo with multiple pages designed to fit any business</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="restaurant-index.html" target="_blank"><img alt="restaurant" src=
                                "assets/images/demo/lambda-restaurant.png"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Restaurant <small>Amazing design perfect for Restaurants, bakeries or bars</small></h3>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-6 text-default small-screen-default">
                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="hotel-index.html" target="_blank"><img alt="hotel" src=
                                "http://d169hzb81ub7u3.cloudfront.net/wp-content/uploads/2015/01/lambda-hotel.png"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Hotel <small>Elegant design perfect to make your hotel stand out</small></h3>
                                </figcaption>
                            </figure>

                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style="-webkit-animation-delay: 0.2s;">
                                <a href="personal-index.html" target="_blank"><img alt="personal" src=
                                "assets/images/demo/lambda-personal.png"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Personal <small>One page design with side navigation and bold design</small></h3>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-12 text-center small-screen-default">
                            <figure class="lambda-demo os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <a href="landing-index.html" target="_blank"><img alt="landing" src="assets/images/demo/lambda-landing.png"> <span>View Demo</span></a>

                                <figcaption>
                                    <h3>Landing <small>One page style landing page with a amazing design</small></h3>
                                </figcaption>
                            </figure>

                        </div>
                    </div>


                    <h1 class="text-center lambda-hero-h1 element-top-20 element-bottom-50 text-normal os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s" style=
                    "-webkit-animation-delay: 0s;">check again soon for <strong>more</strong> amazing demos</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section lambda-hero text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" data-label="">
        <div class="background-media" style=
        "background-image: url('assets/images/demo/banner.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;">
        </div>

        <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>

        <div class="container container-vertical-default">
            <div class="row vertical-default">
                <div class="col-md-12 text-center small-screen-default">
                    <h1 class="text-default lambda-hero-h1 element-top-90 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.2s" style=
                    "-webkit-animation-delay: 0.2s;">a unique mutipurpose powerfull HTML template</h1>

                    <h2 class="text-default lambda-hero-h1 element-top-0 element-bottom-0 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0.4s" style=
                    "-webkit-animation-delay: 0.4s;">get your website started with <strong>lambda</strong></h2>

                    <a href="http://themeforest.net/item/lambda-multi-purpose-bootstrap-html-template/10465708?ref=oxygenna" class="btn btn-primary btn-lg text-normal element-top-20 element-bottom-90 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s" style="-webkit-animation-delay: 0.6s;" target="_self">PURCHASE NOW</a>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block footer %}
{% endblock %}